.idea
.DS_Store
src/dataset
src/vector_cache
src/third_party
config_stuff.txt
src/dail_sql.yml
src/llm/__pycache__/
src/my_test.py
src/nohup.out
src/prompt/__pycache__/
src/utils/__pycache__/
src/utils/datasets/__pycache__/
src/utils/linking_utils/__pycache__/
NLP_Project.pptx
~$NLP_Project.pptx